body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #ffff;
  }

section {
  box-sizing: border-box;
  max-width: 1366px;
  padding: 46px 177px 15px 160px;
  margin: 0 auto;
  background-image: url(../images/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 1030px;
  margin: 0 auto; 
}

.header {
  display: flex;
  justify-content: space-between;
}

.header_logo-link {
  color: white;
  background-image: url(../images/logo\ 3.svg);
  background-repeat: no-repeat;
  background-position: left center;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
}

.header_logo_name {
  text-transform: uppercase;
  padding-left: 61px;
  font-weight: 700;
  font-size: 21px;
}

.header_logo_name span:first-child {
  display: block;
  font-size: 29px;
  padding-bottom: 2px;
}

.header_logo_name span:nth-child(2) {
  display: block;
}

.header_logo-link:hover {
  color: #F26522;
  background-image: url(../images/logo\ 2_selected.svg);
} 

.header_contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.header_contacts a {
  color: white;
  text-decoration: none;
}

.header_contacts a:hover {
  color:#F26522;
  text-decoration: none;
}

main{
  margin-top: 17px;
}

.tours_list {
  display: inline-flex;
  flex-wrap: wrap;
  column-gap: 58px;
  row-gap: 38px;
}

.tours_list-item {
  box-sizing: border-box;
  margin: 0 2px;
  text-align: center;
  position: relative;
}

.tours_list-item_link {
  text-decoration: none;
  justify-content: center;
  color: #ffff;
}

a:hover {
  color:#F26522;
}

img {
  box-sizing: border-box;
  max-width: 300px;
  max-height: 220px;
  margin-bottom: 20px;
  text-align: center;
  border-left:2px solid;
  border-right:2px solid;
  border-image: linear-gradient(to bottom, white, black) 1 100%;
}

.tours_list-item_pop-up {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  min-height: 55px;
  padding: 7px 16px 12px;
  background: #F26522;
  bottom: 40px;
  color:#ffff;
  opacity: 0;
  overflow: hidden;
}

.tours_list-item_pop-up p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 14px;
}

.tours_list-item_pop-up p:first-child {
  font-size: 20px;
}

.tours_list-item_pop-up span {
  font-size: 10px;
}

.tours_list-item_pop-up p:last-child {
  box-sizing: border-box;
  font-size: 14px;
  flex-direction: row;
  align-items: flex-end;
}

.tours_list-item_pop-up p:last-child::after {
  content: "";
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: right;
  width: 5px;
  height: 14px;
  padding-left: 16px;
}

li:hover .tours_list-item_pop-up {
  opacity: 1;
  transition: 0.4s;
}

footer {
  font-size: 12px;
  margin-top: 49px;
  text-align: center;
}
